:root {
    --color-blu:#255EE9;
    --color-grey:#F5F5F5;
    --color-footer:#23272A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,neue Arial, Helvetica, sans-serif;
    
}
.debug{
    border: 1px solid red;
}
.bg-blu{
    background-color: #255EE9; 
}
.bg-footer{
    background-color: var(--color-footer);
    color: white;
}
.bg-grey{
    background-color: var(--color-grey);
}
.d-flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: 0 auto;}
.container-small{
    margin: 0 auto;
    max-width: 800px
}
.content{
    width: 40%;
}
